body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #000000;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.card {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.card img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	object-fit: cover;
	object-position: center;
}

.card h3 {
	margin-top: 0;
	font-size: 24px;
	color: #333;
}

.rating {
	margin-bottom: 10px;
}

.star {
	font-size: 24px;
	color: #ffc107;
}

.card p {
	margin-top: 0;
	color: #000000;
}

.card span {
	font-size: 14px;
	color: #000000;
}

.review-form {
	background-color: #000000;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	grid-column: 1/4;
}

.review-form h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px;
	color: #ffffff;
}

.review-form form {
	display: inline-block;
	text-align: left;
}

.review-form label {
	display: block;
	margin-bottom: 5px;
	color: #ffffff;
	font-size: 18px;
}

.review-form input[type=text],
.review-form textarea {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	width: 100%;
}

.review-form input[type=submit] {
	background-color: #008cba;
	color: #000000;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.review-form input[type=submit]:hover {
	background-color: #006d9e;
}
